.menu {
    background-image: url(../images/background_menu.svg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__title {
    max-width: 780px;
    text-align: center;
    font-family: "Inter", "Arial", sans-serif;  
    font-weight: 500; 
    font-size: 44px; 
    line-height: 52px;
    margin-top: 100px;
}

.menu__subtitle {
    max-width: 780px;
    text-align: center;
    font-family: "Noto Serif", "Times New Roman", serif;  
    font-size: 20px; 
    line-height: 30px;
}

.menu__cards {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    margin-bottom: 100px;
}